* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI */

.logo-header{
    width: 60px;
}

.container{
    width: 70%;
}

.text-small{
    font-size: small;
}


